valkey-cluster:
  enabled: false
valkey:
  enabled: false
postgresql-ha:
  enabled: false
postgresql:
  enabled: false

image:
  tag: "latest"
  rootless: true
  pullPolicy: IfNotPresent

service:
  http:
    type: ClusterIP
    port: 3000
  ssh:
    type: ClusterIP
    port: 2222

replicaCount: 2

ingress:
  enabled: false

gitea:
  config:
    APP_NAME: Personal Git for Ninad Tungare
    RUN_USER: git
    RUN_MODE: prod
    repository:
      DISABLE_HTTP_GIT: true
      USE_COMPAT_SSH_URI: true
    server:
      SSH_DOMAIN: gitea
      HTTP_PORT: 3000
      ROOT_URL: http://localhost:3000/
      DISABLE_SSH: false
      START_SSH_SERVER: true
      SSH_PORT: 22
      SSH_LISTEN_PORT: 2222
      BUILTIN_SSH_SERVER_USER: git
      LFS_START_SERVER: true
      LFS_ALLOW_PURE_SSH: true
      DOMAIN: localhost
      OFFLINE_MODE: true
    service:
      DISABLE_REGISTRATION: true
      REQUIRE_SIGNIN_VIEW: expensive
      REGISTER_EMAIL_CONFIRM: false
      ENABLE_NOTIFY_MAIL: false
      ALLOW_ONLY_EXTERNAL_REGISTRATION: false
      ENABLE_CAPTCHA: false
      DEFAULT_KEEP_EMAIL_PRIVATE: false
      DEFAULT_ALLOW_CREATE_ORGANIZATION: true
      DEFAULT_ENABLE_TIMETRACKING: true
      NO_REPLY_ADDRESS: noreply.localhost
    cron:
      ENABLED: true
      RUN_AT_START: true
    i18n:
      LANGS: en-US,de-DE,fr-FR,nl-NL,es-ES,it-IT
      NAMES: English,Deutsch,Français,Nederlands,Español,Italiano

  additionalConfigFromEnvs:
    - name: GITEA__database__DB_TYPE
      value: postgres
    - name: GITEA__database__HOST
      value: postgresql.gitea.svc.cluster.local:5432
    - name: GITEA__database__NAME
      value: gitea
    - name: GITEA__database__USER
      value: gitea
    - name: GITEA__database__PASSWD
      valueFrom:
        secretKeyRef:
          name: gitea-db
          key: password
    - name: GITEA__queue__TYPE
      value: redis
    - name: GITEA__queue__CONN_STR
      value: redis://redis-master.gitea.svc.cluster.local:6379/0
    - name: GITEA__cache__ADAPTER
      value: redis
    - name: GITEA__cache__HOST
      value: redis://redis-master.gitea.svc.cluster.local:6379/0
  admin:
    email: ninad.tungare@gmail.com
    existingSecret: gitea-admin

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

persistence:
  enabled: true
  create: false
  mount: true
  claimName: gitea-pvc

  accessModes:
    - ReadWriteMany

containerSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  runAsNonRoot: true
