auth:
  enabled: false
  sentinel: false

master:
  persistence:
    enabled: false

replica:
  persistence:
    enabled: false

sentinel:
  persistence:
    enabled: false

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
